html,
body {
  padding: 0;
  margin: 0;
  background-color: #E4EEF2;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 2rem;
}
h2 > span{
  color: #147DD9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



